@using BalancedScorecard.Services
@* App.razor *@

@inject DialogService _dialogService
@* @inject IServiceProvider _services *@

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="css/app.css" />
        <HeadOutlet @rendermode="InteractiveServer" />
        <RadzenTheme Theme="material" @rendermode="InteractiveServer" />
    </head>

    <body>
        <Routes @rendermode="InteractiveServer" />
        <RadzenComponents @rendermode="InteractiveServer" />
        <script src="_framework/blazor.web.js"></script>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="js/app.js"></script>
    </body>

</html>

@code
{
    // private IDataStoreService _datastoreService => _services.GetRequiredService<IDataStoreService>();

    // protected override async Task OnInitializedAsync()
    // {
    //     _datastoreService.UpdateDataStore();
    // }
}
