@* Overview.Razor *@

@page "/"

@using BalancedScorecard.Components.Pages
@using BalancedScorecard.Enums
@using BalancedScorecard.Events
@using BalancedScorecard.Services


@inject IServiceProvider _services

<h3>Overview</h3>
<p>This will be a dashboard with summarized information, history, quick start links or something like that.</p>

@code {
    private IEventMediator _eventMediator => _services.GetRequiredService<IEventMediator>();
    private IAppState _appState => _services.GetRequiredService<IAppState>();

    protected override async Task OnInitializedAsync()
    {
        _appState.RoutedPage = this;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }

        _eventMediator.Publish<VisualStateChangedEvent>(new VisualStateChangedEvent(this));

    }

}
